TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_PORT = 5432
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = admin
TYPEORM_DATABASE = test
TYPEORM_SYNCHRONIZE = true
TYPEORM_LOGGING = false
TYPEORM_ENTITIES = ["src/entity/**/*.ts"]
TYPEORM_ENTITIES_DIR = "src/entity"
TYPEORM_MIGRATIONS = ["src/migration/**/*.ts"]
TYPEORM_MIGRATIONS_DIR = "src/migration"
TYPEORM_SUBSCRIBERS = ["src/subscriber/**/*.ts"]
TYPEORM_SUBSCRIBERS_DIR = "src/subscriber"
